.container {
    background-color:  #194350;
    height: 15vh;
    margin: 0 0 3% 0;
}

/* Menu */

.containerMenu {
    padding: 1% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    
}


.containerMenu a{
    text-decoration: none;
    color:  #ff8882;
    margin-right: 10px;
}

.containerMenu a:hover{
    color: #9dbeb9;
}

/* Conteúdo em video */

.videos {
    text-align: center;
}

.conteudoMae{
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    justify-content:start;
    background-color: #194350;
    padding: 1.5%;
    width: 75vw;
    height: 60vh;
}

.lado1{
    padding: 1%;
    border: 2px solid #ff8882;
}

.lado2 {
    overflow: hidden;
    overflow-y:scroll;
    padding: 1%;
    margin-left: 2%;
    display: block;
    border: 2px solid #ff8882;
}

.titulo {
    align-items: center;
    display: flex;
    justify-content: start;
    padding-bottom: 5%;
}

.titulo p{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff8882;
    margin: 0 8%;
}

.postsMae {
    margin-top: 12%;
    background-color: #194350;
    width: 70vw;
    overflow:scroll ;
    display:inline-flex;
    justify-content:center;
}

.posts {
    margin: 30px;
    width: 25vw;
    height: 50vh;
    background-color: #ff8882;
}

