.contatos{
    text-align: center;
    text-transform: uppercase;
    margin: 5% 0;
}
.caixa-item-rede-social {
    padding: 20px;
    background-color: #194350;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 40px;
    border-radius: 40px;
}

.text-rede-social {
    color: #ff8882;
    font-size: 13px;
    font-weight: bold;
    text-decoration-line: underline;
    padding: 12px;
    text-transform: none;
}

.text-rede-social:hover{
    color:#9dbeb9;
}

.caixa-mae-rede-social {
    display: flex;
    justify-content: center;
}

/*-------------------- TABLET------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ------------------- MOBILE--------------------------- */

@media (max-width: 767px) {
    .caixa-mae-rede-social {
        display: block;
        margin-left: 20%;
    }

    .caixa-item-rede-social {
        width: 130px;
        height: 130px;
    }

    .caixa-item-rede-social img {
        width: 50px;
        height: 50px;
    }
    

}
