* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: #ff8882 ;
}

a {
    color:#9dbeb9;
    text-decoration: none;
}

h2{
    color:  #194350;
    padding: 20px;
}

/* ------------------- MOBILE--------------------------- */

@media (max-width: 767px) {
    h2{
        font-size: 19px;
    }

}

