/* Menu */

.containerMenu {
    padding: 2% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    
}


.containerMenu a{
    text-decoration: none;
    color:  #ff8882;
    margin-right: 10px;
}

.containerMenu a:hover{
    color: #9dbeb9;

}

/* Página de entrada */
.homePageMain{
    display: flex;
    align-items:center;
    justify-content:start;
}
.homePageMain img {
    width: 50%;
    margin-left: 13%;
}

/* Estilos */

/* Fundo da home page */

.homePage {
    width: 100%;
    height: 100vh;
    background-color: #194350;
}

/* Estilo Boton */

.btnConheca {
    color: #ff8882;
    border: 2px solid #ff8882;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.btnConheca:active {
    background: #9dbeb9;
}

.btnConheca:hover{
    color:#9dbeb9 ;
    border: 2px solid #9dbeb9;
}

/*-------------------- TABLET------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ------------------- MOBILE--------------------------- */

@media (max-width: 767px) {
    .homePage {
        height: 95vh;
    }
    .homePageMain{
        display: block;
        justify-content: center;
        justify-items: center;
    }
    .homePageMain img {
        width: 90%;
        margin: 20% 0 20% 10%;
        
    }

    .btnConheca {
        margin: 5% 35%;
        width: 30%;
        font-size: 12px;
    }

    .containerMenu {
        font-size: 10px;
        
    }

    .containerMenu img {
        width: 50px;
        height: 50px;
    }
    

}




