.sobreMim {
    text-align: center;
    text-transform: uppercase;
    color: #ff8882;
    margin: 5% 0;
}

.caixaTextLarissa {
    background-color: #194350 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 25px;
    text-transform: none;
}

.caixaTextLarissa img{
    border-radius: 180px;
    border: 3px solid  #ff8882;
}



.caixaImagem {
    padding: 30px;
    text-align: center;

}

/*-------------------- TABLET------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ------------------- MOBILE--------------------------- */

@media (max-width: 767px) {
    .caixaTextLarissa {
        padding: 10px 24px;
        display: block;
    }

    .caixaTextLarissa img{
        width: 100px;
        height: 100px;

    }

}
